{
  "extends": "wpcalypso/react-a11y",
  "env": {
    "browser": true,
  },
  "globals": {
    "__DEV__": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "forOf": true,
      "jsx": true,
      "es6": true,
      "experimentalObjectRestSpread": true
    },
  },
  "plugins": [
    "wpcalypso"
  ],
  "rules": {
    "wpcalypso/jsx-classname-namespace": 0,
    "wpcalypso/import-docblock": 0
  }
}

