.action-indication {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.action-indication .overlay {
  background: #FAFAFA;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.action-indication i {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #888;

  animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.shared-drafts-wrapper {
  position: relative;
}
.shared-drafts-table td {
  line-height: 2em;
}
.shared-drafts-table .actions-header {
  width: 300px;
}
.shared-drafts-table .share-buttons .button-stop-sharing {
  margin-left: 5px;
}

.share-form {
  display: flex;
}
.share-form .cancel-share {
  padding-left: 10px;
  padding-top: 2px;
  display: block;
}

form.draft-share, form.draft-extend {
	white-space: nowrap;
  display: flex;
}
form.draft-share .form-time-fields {
  width: 200px;
}
form.draft-share input, form.draft-extend input, form.draft-share select, form.draft-extend select {
	font-size: 11px;
}
form.draft-share {
  position: relative;
  max-width: 320px;
  background: #FFF;
}

.form-time-fields input {
  padding: 6px;
  margin: 0 3px;
}
